services:
  redis-server:
    command: redis-server --requirepass ${REDIS_PASSWORD}
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    expose:
      - 6379/tcp
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - ./data:/data
    healthcheck:
      interval: 30s
      retries: 3
      test:
        - CMD-SHELL
        - redis-cli --pass ${REDIS_PASSWORD} ping || exit 1
      timeout: 5s
